@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    --bg: #15161c; --bg-sel: #785f7d;
    --fg: #bbbbbb; --fg-sel: #ffffff;
    --tab-height: 20px; --tab-icon-size: 16px; --tab-strip-margin: -12px; --tab-overlap: -5px;
    --tab-fonts: "Ubuntu"; --tab-font-size: 8pt;
    
    margin-bottom: 0 /* var(--url-height) */ !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
    #context-navigation, #context-sep-navigation, #PanelUI-button, #bookmarks-menu-button, #downloads-button, 
    #home-button, #stylish-toolbar-button, #abp-toolbarbutton, #back-button, #forward-button, #identity-box,
    #urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button, #notification-popup-box, #new-tab-button,
    #private-browsing-indicator, #search-container, #nav-bar-overflow-button, .tabs-newtab-button, .tab-close-button,
    .tab-close, .tab-throbber, .tab-background-start, .tab-background-end, #window-controls, #urlbar, #nav-bar,
    #alltabs-button, #tabview-button, .tab-icon-image, .tab-icon-image:not([pinned]), .tabbrowser-tab:before, .tabbrowser-tab:after,
    #stylish-toolbar-button {
        display: none !important;
    }
    
    .tab-drop-indicator { margin-bottom: 0 !important; }
    
    #tabbrowser-tabs {
        margin-left: -16px;
    }
    
    #TabsToolbar,
    #tabbrowser-tabs,
    #tabbrowser-tabs > * {
        height: var(--tab-height);
        max-height: var(--tab-height);
        overflow-y: hidden;
    }
    
    .tabbrowser-tab {
        font-family: var(--tab-fonts);
        font-size: var(--tab-font-size);
        text-align: center;
        height: var(--tab-height);
        max-height: var(--tab-height);
    }
    
    .tabbrowser-tab[selected] {
        background: var(--bg-sel);
        color: var(--fg-sel);
    }
    
    .tab-background,
    .tab-background-end,
    .tab-background-middle,
    .tab-background-start {
        background: transparent !important;
        margin: 0 !important;
    }
    
    /* Vimperator */
    
    .liberator-statusline,
    .liberator-bottombar,
    .liberator-container,
    .liberator-container:focus {
        background-color: #15161c !important;
        border: none;
        outline: none;
    }
}

/* about:stylish-edit toolbar style */
@-moz-document regexp("about:stylish-edit.*") {
    #main-area, textbox { background: var(--bg) !important; }
    textbox, grid, columns, rows, separator { border: 0 !important; }
    
    .devtools-toolbarbutton { background: var(--bg) !important; color: var(--fg) !important; }
}
